body {
    background-color: rgb(23, 60, 181);
    color: white;
    border: 50px rgb(23, 60, 181);
    border-width: 20px;
    border-style: groove;
}

header {
    background-color: rgb(186, 47, 47);
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 20px;
    border: 50px rgb(23, 60, 181);
    border-width: 20px;
    border-style: groove;
    float: center;
    
}

nav {
    background-color: rgb(186, 47, 47);
    font-style: italic;
    color: white;
    font-size: 20px;
    text-align: center;
    border: 50px rgb(23, 60, 181);
    border-width: 20px;
    border-style: groove;
}
  
article {
    font-size: 18px;
    padding: 20px;
}

aside {
    font-size: 15px;
    padding: 20px;
    border: 50px rgb(23, 60, 181);
    border-width: 20px;
    border-style: groove;
}